<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
    <!-- START PAGE WRAPPER-->
    <div class="page-wrapper">
        <!-- START HEADER-->
        <app-header></app-header>
        <!-- END HEADER-->

        <!-- START SIDEBAR-->
        <app-sidebar></app-sidebar>
        <!-- END SIDEBAR-->

        <!-- START CONTENT WRAPPER-->
        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">Leave Management</h1>
            </div>
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Apply Leave Form</div>
                                <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a></div>
                            </div>
                            <div class="ibox-body">
                                <!--START FORM-->
                                <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <!--FORM DATE-->
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('from_date').errors &&
                                            (registerform.get('from_date').touched || registerform.get('from_date').dirty)}">
                                            <label>From Date</label>
                                            <input class="form-control" formControlName="from_date" type="date" placeholder="John Hendry">
                                            <span class="help-block"
                                                *ngIf="registerform.get('from_date').errors &&
                                                        (registerform.get('from_date').touched || registerform.get('from_date').dirty)">
                                                <span *ngIf="registerform.get('from_date').errors.required"
                                                    class="text-danger">This Field is required</span>
                                            </span>
                                        </div>
                                        <!--TO DATE-->
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('to_date').errors &&
                                            (registerform.get('to_date').touched || registerform.get('to_date').dirty) }">
                                            <label>To Date</label>
                                            <input class="form-control" formControlName="to_date" type="date" placeholder="+44 8917197556">
                                            <span class="help-block"
                                                *ngIf="registerform.get('to_date').errors &&
                                                        (registerform.get('to_date').touched || registerform.get('to_date').dirty)">
                                                <span *ngIf="registerform.get('to_date').errors.required"
                                                    class="text-danger">This Field is required</span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--LEAVE TYPE-->
                                    <div class="form-group" [ngClass]="{'has-error':registerform.get('type').errors &&
                                        (registerform.get('type').touched || registerform.get('type').dirty)}">
                                        <label>Type</label>
                                        <select formControlName="type" class="form-control select2_demo_1">
                                            <option value="">--Select Any--</option>
                                            <option value="SL">Sick Leave</option>
                                            <option value="CL">Casual Leave</option>
                                        </select>
                                        <span class="help-block"
                                            *ngIf="registerform.get('type').errors &&
                                                        (registerform.get('type').touched || registerform.get('type').dirty)">
                                            <span *ngIf="registerform.get('type').errors.required"
                                                class="text-danger">This Field is required</span>
                                        </span>
                                    </div>
                                    <!--LEAVE REASON-->
                                    <div class="form-group" [ngClass]="{'has-error':registerform.get('reason').errors &&
                                        (registerform.get('reason').touched || registerform.get('reason').dirty)}">
                                        <label>Reason</label>
                                        <input formControlName="reason" class="form-control" type="text" placeholder="Reason">
                                        <span class="help-block"
                                            *ngIf="registerform.get('reason').errors &&
                                                    (registerform.get('reason').touched || registerform.get('reason').dirty)">
                                            <span *ngIf="registerform.get('reason').errors.required"
                                                class="text-danger">This Field is required</span>
                                        </span>
                                    </div>
                                    <!--APPLY LEAVE BUTTON-->
                                    <div class="form-group">
                                        
                                        <button mat-raised-button color="primary" [disabled]="!registerform.valid">Apply
                                            Leave</button>
                                    </div>
                                </form>
                                <!--END FORM-->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!--LEAVE DETAILS LIST-->
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Leave List</div>
                                <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <!--START TABLE-->
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Leave</th>
                                            <th>Sick Leave</th>
                                            <th>Casual Leave</th>
                                            <th>LWP</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let data of recentdata">
                                        <tr>
                                            <td>Taken</td>
                                            <td>{{data.sl_taken}}</td>
                                            <td>{{data.cl_taken}}</td>
                                            <td>0</td>
                                            <td>{{(+data.sl_taken)  + (+data.cl_taken)}}</td>
                                        </tr>
                                        <tr>
                                            <td>Balance</td>
                                            <td>{{data.sl_balance}}</td>
                                            <td>{{data.cl_balance}}</td>
                                            <td>0</td>
                                            <td>{{(+data.sl_balance)  + (+data.cl_balance)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--END TABLE-->
                            </div>
                        </div>
                        <!--LEAVE APPLICATION LIST-->
                        <div class="ibox">
                        
                        <div style="overflow:auto;">
                            <div class="ibox-head">
                                <div class="ibox-title">Leave Application List</div>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                            </div>
                            <div class="mat-elevation-z8">
                                <!--START TABLE-->
                                <mat-table [dataSource]="listData" matSort>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                                    <!--FROM DATE-->
                                    <ng-container matColumnDef="from_date" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>From Date</b></mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.from_date}} 
                                        </mat-header-cell>
                                    </ng-container>
                                    <!--TO DATE-->
                                    <ng-container matColumnDef="to_date" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>To Date</b></mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.to_date}} 
                                        </mat-header-cell>
                                    </ng-container>
                                    <!--TOTAL DAYS-->
                                    <ng-container matColumnDef="total_days" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>Days No.</b></mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.total_days}} 
                                        </mat-header-cell>
                                    </ng-container>
                                    <!--REASON-->
                                    <ng-container matColumnDef="reason" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>Reason</b></mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.reason}} 
                                        </mat-header-cell>
                                    </ng-container>
                                    <!--TYPE-->
                                    <ng-container matColumnDef="type" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>Type</b></mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.type}} 
                                        </mat-header-cell>
                                    </ng-container>
                                    <!--STATUS-->
                                    <ng-container matColumnDef="status" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>Status</b></mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.status}} 
                                        </mat-header-cell>
                                    </ng-container>
                                </mat-table>
                                <!--END TABLE-->
                                <!--START PAGINATION-->
                                <mat-paginator [length]="100"
                                    [pageSize]="10"
                                    [pageSizeOptions]="[10, 25, 100]">
                                </mat-paginator>
                                <!--END PAGINATION-->
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->

        <!-- BEGIN PAGA BACKDROPS-->
        <div class="sidenav-backdrop backdrop"></div>
        <!-- END PAGA BACKDROPS-->
    </div>
</body>
</html>