<h2 mat-dialog-title>View Enquiry Details</h2>
<mat-dialog-content class="mat-typography">
<mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="btn btn-danger">X</button>
        
      </mat-dialog-actions>

      <form  [formGroup]="registerform" (ngSubmit)="onSubmit()">
            <div class="row">
                    <div class="col-sm-6 form-group" *ngIf="enquiry_id==1 || enquiry_id==2">
                        <label>Reference</label>
                        <input readonly="" formControlName="ref_name" class="form-control" type="text">
                                                                        
                    </div>

                    
                    <div class="col-sm-6 form-group" >
                            <label>Name</label>
                            <input readonly="" formControlName="name" class="form-control" type="text" placeholder="xxxxx, xxxx. sd">
                           
                        </div>
                
                
                        <div class="col-sm-6 form-group" *ngIf="enquiry_id==2">
                            <label>Project Name</label>
                            <input readonly="" formControlName="project_name" class="form-control" type="text">
                                                                            
                        </div>
    
                        <div class="col-sm-6 form-group" *ngIf="enquiry_id!=1">
                                <label>Company Name</label>
                                <input readonly="" formControlName="company_name" class="form-control" type="text">
                                                                                
                            </div>
                        
                    
                    

               
                                                            <div class="col-sm-6 form-group">
                                                                <label>Contact No.</label>
                                                                <input readonly="" formControlName="mobile_no" class="form-control" type="text">
                                                                
                                                                
                                                                
                                                            </div>
                                                            <div class="col-sm-6 form-group">
                                                                <label>Email Id</label>
                                                                <input readonly="" formControlName="email" class="form-control" type="text">
                                                                
                                                            </div>
                                                        

                                                       
                                                                <div class="col-sm-6 form-group"  *ngIf="enquiry_id==1">
                                                                    <label>Qualification</label>
                                                                    <input readonly="" formControlName="edu_quali" class="form-control" type="text">
                                                                    
                                                                    
                                                                    
                                                                </div>
                                                                <div class="col-sm-6 form-group">
                                                                    <label>Address</label>
                                                                    <input readonly="" formControlName="address" class="form-control" type="text">
                                                                    
                                                                </div>
                                                           

                                                           
                                                                    <div class="col-sm-6 form-group" *ngIf="enquiry_id==1">
                                                                        <label>Fees(RS.)</label>
                                                                        <input readonly="" formControlName="fees" class="form-control" type="text">
                                                                        
                                                                        
                                                                        
                                                                    </div>
                                                                    <div class="col-sm-6 form-group">
                                                                        <label>Status</label>
                                                                        <input readonly="" formControlName="status" class="form-control" type="text">
                                                                        
                                                                    </div>

                                                                    <div class="col-sm-6 form-group" *ngIf="enquiry_id==3 ||enquiry_id==4">
                                                                            <label>CTC</label>
                                                                            <input readonly="" formControlName="ctc" class="form-control" type="text">
                                                                            
                                                                        </div>

                                                                        <div class="col-sm-6 form-group" *ngIf="enquiry_id==3 ||enquiry_id==4">
                                                                                <label>Designation</label>
                                                                                <input readonly="" formControlName="designation" class="form-control" type="text">
                                                                                
                                                                            </div>

                                                                            <div class="col-sm-6 form-group" *ngIf="enquiry_id==3">
                                                                                    <label>GSTIN</label>
                                                                                    <input readonly="" formControlName="gstin" class="form-control" type="text">
                                                                                    
                                                                                </div>

                                                                                <div class="col-sm-6 form-group" *ngIf="enquiry_id==3">
                                                                                        <label>State</label>
                                                                                        <input readonly="" formControlName="st_name" class="form-control" type="text">
                                                                                        
                                                                                    </div>

                                                                                    <div class="col-sm-6 form-group" *ngIf="enquiry_id==3">
                                                                                            <label>Purchase Order</label>
                                                                                            <input readonly="" formControlName="po" class="form-control" type="text">
                                                                                            
                                                                                        </div>
                                                                </div>
         
    </form>

    
</mat-dialog-content>
