<!--SHOW SPINNER-->
<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">
  <body class="fixed-navbar">
    <!--START WRAPPER-->
    <div class="page-wrapper">
    <!--START HEADER-->
    <app-header></app-header>
    <!--END HEADER-->

    <!--START SIDEBAR-->
    <app-sidebar></app-sidebar>
    <!--END SIDEBAR-->

    <!--START CONTENT WRAPPER-->
    <div class="content-wrapper">
        <div class="page-heading">
            <h1 class="page-title">Employee Leave Applications List</h1>
        </div>
        <div class="page-content fade-in-up">
            <div *ngIf="designation==2">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                <div style="overflow:auto;">
                    <div class="mat-elevation-z8">
                        <!--START TABLE-->
                        <mat-table [dataSource]="listData" matSort>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                            <!--EMPLOYEE CODE-->
                            <ng-container matColumnDef="emp_code" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Emp_Code</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.emp_code}}
                                </mat-header-cell>
                            </ng-container>
                            <!--EMPLOYEE NAME-->
                            <ng-container matColumnDef="first_name" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.first_name}} {{element.last_name}}
                                </mat-header-cell>
                            </ng-container>
                            <!--EMPLOYEE DESIGNATION-->
                            <ng-container matColumnDef="desgn" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.desgn}}
                                </mat-header-cell>
                            </ng-container>
                            <!--TYPE-->
                            <ng-container matColumnDef="type" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.type}}
                                </mat-header-cell>
                            </ng-container>
                            <!--FROM DATE-->
                            <ng-container matColumnDef="from_date" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>From Date</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.from_date}}
                                </mat-header-cell>
                            </ng-container>
                            <!--TO DATE-->
                            <ng-container matColumnDef="to_date" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>To Date</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.to_date}}
                                </mat-header-cell>
                            </ng-container>
                            <!--TOTAL DAYS-->
                            <ng-container matColumnDef="total_days" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Days</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.total_days}}
                                </mat-header-cell>
                            </ng-container>
                            <!--REASON-->
                            <ng-container matColumnDef="reason" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Reason</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.reason}}
                                </mat-header-cell>
                            </ng-container>
                            <!--ACTION-->
                            <ng-container matColumnDef="id" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">
                                <button *ngIf="element.status!='Rejected'" [disabled]="element.status=='Accepted'" class="btn btn-success" (click)="accept(element.id,element.type,element.total_days,element.eid)">Accept{{yes}}</button>&nbsp;
                                <button *ngIf="element.status!='Accepted'" class="btn btn-danger" (click)="update(element.id)">Reject</button>
                                </mat-header-cell>
                            </ng-container>
                        </mat-table>
                        <!--END TABLE-->

                        <!--START PAGINATION-->
                        <mat-paginator [length]="100"
                            [pageSize]="10"
                            [pageSizeOptions]="[10, 25, 100]">
                        </mat-paginator>
                        <!--END PAGINATION-->
                    </div>
                </div>
            </div>  

            <div *ngIf="designation==1">
                <!--SEARCH INPUT-->
                <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Filter">
                <div style="overflow:auto;">
                    <div class="mat-elevation-z8">
                        <!--START TABLE-->
                        <mat-table [dataSource]="listData1" matSort>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                            <!--EMPLOYEE CODE-->
                            <ng-container matColumnDef="emp_code" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Emp_Code</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.emp_code}}
                                </mat-header-cell>
                            </ng-container>
                            <!--EMPLOYEE NAME-->
                            <ng-container matColumnDef="first_name" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.first_name}} {{element.last_name}}
                                </mat-header-cell>
                            </ng-container>
                            <!--DESIGNATION-->
                            <ng-container matColumnDef="desgn" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.desgn}}
                                </mat-header-cell>
                            </ng-container>
                            <!--TYPE-->
                            <ng-container matColumnDef="type" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.type}}
                                </mat-header-cell>
                            </ng-container>
                            <!--FROM DATE-->
                            <ng-container matColumnDef="from_date" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>From Date</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.from_date}}
                                </mat-header-cell>
                            </ng-container>
                            <!--TO DATE-->
                            <ng-container matColumnDef="to_date" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>To Date</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.to_date}}
                                </mat-header-cell>
                            </ng-container>
                            <!--TOTAL DAYS-->
                            <ng-container matColumnDef="total_days" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Days</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.total_days}}
                                </mat-header-cell>
                            </ng-container>
                            <!--REASON-->
                            <ng-container matColumnDef="reason" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Reason</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">{{element.reason}}
                                </mat-header-cell>
                            </ng-container>
                            <!--ACTION-->
                            <ng-container matColumnDef="id" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                                <mat-header-cell *matCellDef="let element">
                                <button *ngIf="element.status!='Rejected'" [disabled]="element.status=='Accepted'" class="btn btn-success" (click)="accept(element.id,element.type,element.total_days,element.eid)">Accept{{yes}}</button>&nbsp;
                                <button *ngIf="element.status!='Accepted'" class="btn btn-danger" (click)="update(element.id)">Reject</button>
                                </mat-header-cell>
                            </ng-container>
                        </mat-table>
                        <!--END TABLE-->

                        <!--START PAGINATION-->
                        <mat-paginator [length]="100"
                            [pageSize]="5"
                            [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                        <!--END PAGINATION-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT WRAPPER-->
    </div>   
    <!--END WRAPPER-->

    <!--SIDENAV-->
       <div class="sidenav-backdrop backdrop"></div>
</body>
</html>