<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
    <!--start page wrapper-->
    <div class="page-wrapper">

        <!-- START HEADER-->
        <app-header></app-header>
        <!-- END HEADER-->
        
        <!-- START SIDEBAR-->
        <app-sidebar></app-sidebar>
        <!-- END SIDEBAR-->

        <!--start content wrapper-->
        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">Add Policy</h1>
            </div>
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a></div>
                            </div>
                            <div class="ibox-body">
                                <!--start form-->
                                <form>
                                    <div class="row">
                                        <!--text editor-->
                                        <div class="col-sm-12 form-group">
                                            <textarea class="ckeditor form-control" name="Editor"></textarea>
                                        </div>
                                    </div>
                                    <!--apply leave button-->
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Apply Leave</button>
                                    </div>
                                </form>
                                <!--end form-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end content wrapper-->
       
        <!-- BEGIN PAGA BACKDROPS-->
        <div class="sidenav-backdrop backdrop"></div>
    </div>
    <!--end page wrapper-->
</body>
</html>