<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
    <!--start page wrapper-->
    <div class="page-wrapper">
        <!--start header-->
        <app-header></app-header>
        <!--end header-->
        
        <!--start sidebar-->
        <app-sidebar></app-sidebar>
        <!--end sidebar-->
        
        <!--start content wrapper-->
        <div class="content-wrapper">
            <div class="page-heading"></div>
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-head"></div>
                                <div class="ibox-body"> 
                                    <div class="col-lg-12 table-responsive" #TABLE #table>  
                                        <div style="padding-bottom: 10px;padding-top: 10px;">  
                                            <div class="row">  
                                                <div class="col-sm-12">  
                                                    <button (click)="ExportTOExcel()" class="btn btn-success"><i class="fa fa-file-excel-o"></i>ExportTOExcel</button>
                                                </div>  
                                            </div>  
                                        </div>  
                                        <!--start table-->
                                        <table class="table table-bordered">  
                                            <thead class="thead-dark">  
                                                <tr>  
                                                    <th>Emp_Code</th>
                                                    <th>Name</th>
                                                    <th>Designation</th>
                                                    <th>Casual Leave</th>
                                                    <th>Leave without Pay</th>
                                                    <th>Payable Days</th>
                                                    <th>Basic</th>
                                                    <th>HRA</th>
                                                    <th>Conv Allow/VEHICLE REIMB</th>
                                                    <th>Child Education Allow</th>
                                                    <th>LTA Monthly</th>
                                                    <th>Medical Monthly</th>
                                                    <th>Attire Reimb</th>
                                                    <th>Sp.All</th>
                                                    <th>Other Allow</th>
                                                    <th>Gross Amount</th>
                                                    <th>Prof.Tax</th>
                                                    <th>ESIC</th>
                                                    <th>P. F. Cont.</th>
                                                    <th>TDS</th>
                                                    <th>Advance</th>
                                                    <th>Total Ded</th>
                                                    <th>Net Amt</th>
                                                </tr>  
                                            </thead>  
                                            <tbody>  
                                                <tr *ngFor="let data of recentdata">
                                                    <td>{{data.emp_code}}</td>
                                                    <td>{{data.first_name}} {{data.last_name}}</td>
                                                    <td>{{data.desgn}}</td>
                                                    <td>{{data.cl}}</td>
                                                    <td>{{data.lwp}}</td>
                                                    <td>{{data.payble_days}}</td>
                                                    <td>{{data.basic}}</td>
                                                    <td>{{data.hra}}</td>
                                                    <td>{{data.conveyance}}</td>
                                                    <td>{{data.cea}}</td>
                                                    <td>{{data.lta}}</td>
                                                    <td>{{data.medical}}</td>
                                                    <td>{{data.attire}}</td>
                                                    <td>{{data.special}}</td>
                                                    <td>{{data.other}}</td>
                                                    <td>{{data.gross_salary}}</td>
                                                    <td>{{data.pt}}</td>
                                                    <td>{{data.esic}}</td>
                                                    <td>{{data.epf}}</td>
                                                    <td>{{data.tds}}</td>
                                                    <td>{{data.advance}}</td>
                                                    <td>{{data.total_deduction}}</td>
                                                    <td>{{data.net_salary}}</td>
                                                </tr>
                                            </tbody>  
                                        </table> 
                                        <!--end table--> 
                                    </div>  
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end content wrapper-->
    </div>  
    <!--end page wrapper--> 

    <!--sidenav-->
    <div class="sidenav-backdrop backdrop"></div>

</body>
</html>