/* Chrome, Safari, Edge, Opera (for input type number right arrow remove)*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox (for input type number right arrow remove)*/
input[type=number] {
  -moz-appearance: textfield;
}