<nav class="page-sidebar" id="sidebar">
    <div id="sidebar-collapse">
        <div class="admin-block d-flex">
            <div>
                <img src="./assets/img/a2.png" alt=""/>
            </div>
            <div class="admin-info">
                <div class="font-strong">RAK SOFTECH</div>
                    <small><b>{{first_name}} {{last_name}}</b></small>
            </div>
        </div>
            <!--side menu-->
            <ul class="side-menu metismenu" id="side-metis-menu">
                <li class="active"> <a href="#" routerLink="/dashboard"><i class="sidebar-item-icon fa fa-th-large"></i>
                    <span class="nav-label">Dashboard</span></a> 
                </li>
                <li *ngIf="designation==2 || designation==1"> <a href="#" routerLink="/showemp"><i class="sidebar-item-icon fa fa-user"></i>
                    <span class="nav-label">Employees</span></a>
                </li>
                <li class="companymenuli"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-list"></i>
                    <span class="nav-label">Attendance</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a *ngIf="designation==2 || designation==3 || designation==4 || designation==5" (click)="addatt()">
                            <i class="sidebar-item-icon fa fa-plus-circle"></i>Add Attendance</a> 
                        </li>
                        <li> <a href="#"  *ngIf="designation==2 || designation==3 || designation==1" routerLink="/emp-attend">
                            <i class="sidebar-item-icon fa fa-object-group"></i>Employee Attendance</a> 
                        </li>
                    </ul>
                </li>
                <li class="companymenuli"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-clipboard"></i>
                    <span class="nav-label">Leave</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li *ngIf="designation==2 || designation==1"> <a href="#" routerLink="/showemp-leave">
                            <i class="sidebar-item-icon fa fa-address-book"></i>Leave Applications </a> 
                        </li>
                        <li *ngIf="designation==2 || designation==1"> <a href="#" routerLink="/empleave-details">
                            <i class="sidebar-item-icon fa fa-rss-square"></i>Leave Details</a> 
                        </li>
                        <li> <a href="#" *ngIf="designation==2 || designation==3 || designation==4 || designation==5" routerLink="/applyleave">
                            <i class="sidebar-item-icon fa fa-podcast"></i>Apply Leave</a> 
                        </li>
                    </ul>
                </li>
                <li> <a href="#" *ngIf="designation==4 || designation==1" routerLink="/list-lead-info"><i class="sidebar-item-icon fa fa-align-left"></i>
                    <span class="nav-label">Lead</span></a> 
                </li>
                <li> <a href="#" *ngIf="designation==4 || designation==1" routerLink="/customer-list" ><i class="sidebar-item-icon fa fa-address-book"></i>
                    <span class="nav-label">Customer</span></a> 
                </li>
                <li class="companymenuli" *ngIf="designation==4 || designation==1"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-arrows-alt"></i>
                    <span class="nav-label">Sales</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a  href="#" routerLink="/list-order">
                            <i class="sidebar-item-icon fa fa-signal"></i>Manage Sales</a> 
                        </li>
                        <li> <a href="#" routerLink="/order-invoice-list" *ngIf="designation==4 || designation==1"><i class="sidebar-item-icon fa fa-sticky-note"></i>
                            Sales Invoice</a></li>
                        <li> <a href="#" routerLink="/milestone-list" *ngIf="designation==4 || designation==1"><i class="sidebar-item-icon fa fa-random"></i>
                            Sales Setting</a></li>
                    </ul>
                </li>
                <li class="companymenuli" *ngIf="designation==4 || designation==1"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-deaf"></i>
                    <span class="nav-label">Purchase</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a  routerLink="/list-vendor" href="#"><i class="sidebar-item-icon fa fa-male"></i>Vendor</a></li>
                        <li> <a href="#" routerLink="/purchase-request-list"  *ngIf="designation==4 || designation==1"><i class="sidebar-item-icon fa fa-inbox"></i>
                            Purchase Request</a></li>
                        <li> <a href="#"  routerLink="/quotation-list" *ngIf="designation==4 || designation==1"><i class="sidebar-item-icon fa fa-server"></i>
                            Quotations</a></li>
                        <li> <a href="#" routerLink="/purchase-order-list" *ngIf="designation==4 || designation==1"><i class="sidebar-item-icon fa fa-microchip"></i>
                            Purchase Order</a></li> 
                        <li> <a href="#" routerLink="/material-receipt-list" *ngIf="designation==4 || designation==1"><i class="sidebar-item-icon fa fa-map"></i>
                            Material Receipt</a></li>
                        <li> <a href="#" routerLink="/purchase invoice-list" *ngIf="designation==4 || designation==1"><i class="sidebar-item-icon fa fa-qrcode"></i>
                            Purchase Invoice</a></li>
                    </ul>
                </li>
                <li class="companymenuli" *ngIf="designation==4 || designation==1"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-arrows-alt"></i>
                    <span class="nav-label">Invoice Setting</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a  routerLink="/important-note" href="#"><i class="sidebar-item-icon fa fa-book"></i>Important Note</a></li>
                        <li> <a  routerLink="/office-address" href="#"><i class="sidebar-item-icon fa fa-audio-description"></i>Office Address</a></li>
                        <!-- <li> <a  routerLink="/register-address" href="#"><i class="sidebar-item-icon fa fa-briefcase"></i>Registered Address</a></li> -->
                        <li> <a  routerLink="/upload-logo" href="#"><i class="sidebar-item-icon fa fa-bullseye"></i>Logo</a></li>
                        <li> <a  routerLink="/term-condition" href="#"><i class="sidebar-item-icon fa fa-check-circle"></i>Terms & Condition</a></li>
                        <li> <a  routerLink="/add-registeration" href="#"><i class="sidebar-item-icon fa fa-crosshairs"></i>Registration</a></li>
                    </ul>
                </li>
                <li *ngIf="designation==2 || designation==3 || designation==4 || designation==5" class="companymenuli"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-paste"></i>
                    <span class="nav-label">Downloads</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a href="#" routerLink="/salary-slip"><i class="sidebar-item-icon fa fa-tasks"></i>Salary Slip</a></li>
                        <li> <a href="#" routerLink="/form-sixteen"><i class="sidebar-item-icon fa fa-window-restore"></i>Form 16</a></li> 
                    </ul>
                </li>
                <li class="hover" *ngIf="designation==2"> <a href="#" routerLink="/add-location"><i class="sidebar-item-icon fa fa-map-marker"></i>
                    <span class="nav-label">Add Location</span></a> 
                </li>
                <li class="hover" *ngIf="designation==2"> <a href="#" routerLink="/holiday-calender"><i class="sidebar-item-icon fa fa-film"></i>
                    <span class="nav-label">Holiday Calender</span></a> 
                </li>
                <li> <a href="#" routerLink="/policy"><i class="sidebar-item-icon fa fa-table"></i>
                    <span class="nav-label">Company Policies</span></a> 
                </li>
                <li *ngIf="designation==3"> <a href="#" routerLink="/create-form16"><i class="sidebar-item-icon fa fa-upload"></i>
                    <span class="nav-label">Upload Form-16</span></a>
                </li>
                <li *ngIf="designation==3" class="companymenuli"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-paste"></i>
                    <span class="nav-label">Salary</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a href="#" routerLink="/show-salary"><i class="sidebar-item-icon fa fa-wrench"></i>Fitment</a></li>
                        <li> <a href="#" routerLink="/add-salary-sheet"><i class="sidebar-item-icon fa fa-copy"></i>SalarySheet</a></li>
                        <li> <a href="#" routerLink="/history-salary"><i class="sidebar-item-icon fa fa-paste"></i>SalarySlip</a></li>
                    </ul>
                </li>
            </ul>
            <!--side menu-->
    </div>
</nav>
