
<h2 mat-dialog-title>View Lead Details</h2>
<mat-dialog-content class="mat-typography">
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="btn btn-danger">X</button>
    </mat-dialog-actions>

    <form>
        <!--lead section-->
        <h4>Lead Information</h4>
        <div class="row">
            <!--first name-->
            <div class="col-sm-6 form-group">
                <label>First Name</label>
                <input readonly="" value="{{fname}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--last name-->
            <div class="col-sm-6 form-group">
                <label>Last Name</label>
                <input  readonly="" value="{{lname}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--phone no.-->
            <div class="col-sm-6 form-group">
                <label>Phone Number</label>
                <input  readonly="" value="{{phone_no}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--company-->
            <div class="col-sm-6 form-group">
                <label>Company</label>
                <input  readonly="" value="{{company}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--email id-->
            <div class="col-sm-6 form-group">
                <label>Email Id</label>
                <input  readonly=""value="{{email}}"  class="form-control" type="text" placeholder="John">
            </div>
            <!--website-->
            <div class="col-sm-6 form-group">
                <label>Website</label>
                <input  readonly="" value="{{website}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--lead source-->
            <div class="col-sm-6 form-group">
                <label>Lead Source</label>
                <input  readonly="" value="{{lead_source}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--follow up-->
            <div class="col-sm-6 form-group">
                <label>Follow Up</label>
                <input  readonly="" value="{{follow_up}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--lead status-->
            <div class="col-sm-6 form-group">
                <label>Lead Status</label>
                <input  readonly="" value="{{lead_status}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--industry-->
            <div class="col-sm-6 form-group">
                <label>Industry</label>
                <input  readonly="" value="{{industry}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--rating-->
            <div class="col-sm-6 form-group">
                <label>Rating</label>
                <input  readonly="" value="{{rating}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--annual revenue-->
            <div class="col-sm-6 form-group">
                <label>Annual Revenue</label>
                <input  readonly="" value="{{annual_revenue}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--employee no-->
            <div class="col-sm-6 form-group">
                <label>No. Of Employee</label>
                <input  readonly="" value="{{employee_no}}" class="form-control" type="text" placeholder="John">
            </div>
        </div>
         <!--lead section-->

         <!--address section-->
        <h4>Address Information</h4>
        <div class="row">
            <!--street-->
            <div class="col-sm-6 form-group">
              <label>Street</label>
              <input  readonly="" value="{{street}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--city-->
            <div class="col-sm-6 form-group">
                <label>City</label>
                <input readonly="" value="{{city}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--state-->
            <div class="col-sm-6 form-group">
                <label>State/Province</label>
                <input readonly="" value="{{state}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--zip-->
            <div class="col-sm-6 form-group">
                <label>Zip/Postal Code</label>
                <input  readonly="" value="{{postal_code}}" class="form-control" type="text" placeholder="John">
            </div>
            <!--country-->
            <div class="col-sm-6 form-group">
                <label>Country</label>
                <input  readonly="" value="{{country}}" class="form-control" type="text" placeholder="John">
            </div>
        </div>
        <!--address section-->

        <!--description section-->
        <h4>Description Information</h4>
        <div class="row">
            <!--description-->
            <div class="col-sm-6 form-group">
              <label>Description</label>
              <input  readonly="" value="{{description}}" class="form-control" type="text" placeholder="John">
            </div>
        </div>
        <!--description section-->
    </form>
</mat-dialog-content>
