<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
    <!--start page wrapper-->
    <div class="page-wrapper">
        <!--start header-->
        <app-header></app-header>
        <!--end header-->

        <!--start sidebar-->
         <app-sidebar></app-sidebar>
         <!--end sidebar-->

         <!-- START CONTENT CONTENT-->
        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">Profile</h1>
            </div>
            <div class="page-content fade-in-up">
                <div class="ibox invoice">
                    <div class="invoice-header">
                        <div class="row">
                            <div class="col-6">
                                <div class="invoice-logo">
                                    <img src="./assets/img/img.png" height="65px" />
                                </div>
                                <div>
                                    <ul class="list-unstyled m-t-10">
                                        <li class="m-b-5"><span class="font-strong">Name:</span> {{first_name}} / {{last_name}}</li>
                                        <li class="m-b-5">
                                        <li class="m-b-5"><span class="font-strong">DOB:</span> {{dob}}</li>
                                        <li class="m-b-5">
                                        <li class="m-b-5"><span class="font-strong">Mobile No:</span> {{mobile_no}} / {{alternate_mobile_no}}</li>
                                        <li class="m-b-5"><span class="font-strong">Email Id:</span> {{personal_email}} / {{professional_email}}</li>
                                        <li><span class="font-strong">Gender:</span>{{gender}}</li>
                                    </ul>
                                </div>
                            </div>
                        <div class="col-6 text-right">
                                <div class="clf" style="margin-bottom:7%;">
                                    <dl class="row pull-right" style="width:47%;margin-left:53%"><dt class="col-sm-6">Joining Date</dt>
                                        <dd class="col-sm-6">{{join_date}}</dd><dt class="col-sm-6">Designation</dt>
                                        <dd class="col-sm-6">{{desname}}</dd><dt class="col-sm-6">Emp_Code</dt>
                                        <dd class="col-sm-6">{{emp_code}}</dd>
                                    </dl>
                                </div>
                            <div>
                                <div class="clf" style="margin-bottom:5%;">
                                    <dl class="row pull-right" style="width:47%;margin-left:53%"><dt class="col-sm-6">Qualification:</dt>
                                        <dd class="col-sm-6">{{qualification}}</dd><dt class="col-sm-6">Address:</dt>
                                        <dd class="col-sm-6">{{address}}</dd><dt class="col-sm-6">Pan Card:</dt>
                                        <dd class="col-sm-6">{{pan}}</dd>
                                        <dt class="col-sm-6">Adhar No.:</dt>
                                        <dd class="col-sm-6">{{aadhaar}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!--PRINT BUTTON-->
                    <div class="text-right">
                        <button class="btn btn-info" type="button" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</button>
                    </div>
                </div>
            <!--CSS-->
            <style>
                .invoice {
                    padding: 20px
                }
                .invoice-header {
                    margin-bottom: 50px
                }
                .invoice-logo {
                    margin-bottom: 50px;
                }
                .table-invoice tr td:last-child {
                    text-align: right;
                }
            </style>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END CONTENT CONTENT-->
    </div>
</body>
</html>