<!--SHOW SPINNER-->
<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
        <app-header></app-header>
        <!-- end HEADER-->

        <!-- START sidebar-->
        <app-sidebar></app-sidebar>
        <!-- end sidebar-->

        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">Update Invoice Details</h1>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-body">
                             <!--foorm-->
                            <form [formGroup]="invoiceForm">
                                <!--Order section-->
                                <h4>Invoice Information</h4>
                                <div style="border-style: double;">
                                    <div class="row">
                                        <!---order number-->
                                        <div class="col-sm-6 form-group">
                                            <label>Order Number</label>
                                            <input class="form-control" formControlName="order_no" type="text"
                                            readonly="">
                                        </div>
                                        <!---invoice date-->
                                        <div class="col-sm-6 form-group">
                                            <label>Invoice Date</label>
                                            <input class="form-control" formControlName="invoice_date" type="date"
                                                placeholder="01/01/1974">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!---customer name-->
                                        <div class="col-sm-6 form-group">
                                            <label>Customer Name</label>
                                            <input class="form-control" formControlName="customer_name" type="text"
                                                placeholder="Customer Name">
                                        </div>
                                        <!--customer address-->
                                        <div class="col-sm-6 form-group">
                                            <label>Customer Address</label>
                                            <textarea class="form-control" formControlName="customer_address" type="text"
                                                placeholder="Customer Address"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!---Due Date-->
                                        <div class="col-sm-6 form-group">
                                            <label>Due Date</label>
                                            <input class="form-control" formControlName="due_date" type="date"
                                                placeholder="01/01/1974">
                                        </div>
                                        <!---order type---->
                                        <div class="col-sm-6 form-group">
                                            <label>Order Type</label>
                                            <input class="form-control" formControlName="order_type" type="text"
                                                placeholder="Order Type">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!---term of payment-->
                                        <div class="col-sm-6 form-group">
                                            <label>Term Of Payment
                                            </label>
                                            <select formControlName="payment_term" class="form-control">
                                                <option value="">--Select Any--</option>
                                                <option value="Cash">Cash</option>
                                                <option value="Cheque">Cheque</option>
                                                <option value="DD">DD</option>
                                                <option value="Bank Transfer">Bank Transfer</option>
                                            </select>
                                        </div>
                                        <!---remark-->
                                        <div class="col-sm-6 form-group">
                                            <label>Remark</label>
                                            <textarea formControlName="remark" class="form-control" type="text"
                                                placeholder="remark"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <h4>Invoice Details Information</h4>
                                <div style="border-style: double;">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!--START TABLE-->
                                        <table>
                                            <thead>
                                                <tr>
                                                  <th>Description</th>
                                                  <th>Quantity</th>
                                                  <th>Unit Rate</th>
                                                  <th>GST</th>
                                                  <th>Amount</th>
                                                  <th> <button mat-raised-button color="primary" aria-label="Action" (click)="addPurchaseRequest()">
                                                    <i class="fa fa-plus" aria-hidden="true"></i> Add
                                                    </button>
                                                  </th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="order_invoice_info">
                                                <tr *ngFor="let section of getSections(invoiceForm); let i = index" [formGroupName]="i">
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput  formControlName="invoice_description">
                                                        </mat-form-field>
                                                    </td>
                                                  <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput formControlName="quantity" (keyup)="calculateAmountAndTotal(i,$event.target.value)">
                                                    </mat-form-field></td>
                                                  <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput formControlName="unit_price" (keyup)="calculateAmountAndTotal(i,$event.target.value)">
                                                    </mat-form-field></td>
                                                  <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput formControlName="gst" (keyup)="calculateAmountAndTotal(i,$event.target.value)">
                                                    </mat-form-field></td>
                                                  <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput formControlName="invoice_amount">
                                                    </mat-form-field></td>
                                                  <td> 
                                                    <button mat-icon-button aria-label="Action" color="warn"
                                                    (click)="removeSection(i)">
                                                    <mat-icon>delete</mat-icon>
                                                </button></td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td *ngIf="cal!='1'">{{total}}</td>
                                                    <td  *ngIf="cal=='1'">{{invoiceForm.controls['total'].value}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        <!--END TABLE-->
                                    </div>
                                </div>
                            </div>

                                <h4>Description Information</h4>
                                <div style="border-style: double;">
                                    <div class="row">
                                        <!---description-->
                                        <div class="col-sm-6 form-group">
                                            <label>Description</label>
                                            <textarea formControlName="description" class="form-control" type="text"
                                                placeholder="Description"></textarea>
                                        </div>
                                        <div style="display: none;" class="col-sm-6 form-group">
                                            <label>Total</label>
                                            <textarea formControlName="total" class="form-control" type="text"
                                                placeholder="Description"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                    </div>
                                </div>

                                <!--funtionality button-->
                                <div class="row" class="mt-4">
                                    <div class="form-group">
                                        <button mat-raised-button color="primary" [disabled]="(!invoiceForm.valid)" (click)="onsubmit()">Save</button>
                                        &nbsp;&nbsp;
                                        <a routerLink="/order-invoice-list" mat-raised-button color="warn">Cancel</a>
                                    </div>
                                </div>
                            </form>
                            <!--foorm-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidenav-backdrop backdrop"></div>
</body>
</html>