<!--show spinner-->
<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
    <!--start page wrapper--> 
    <div class="page-wrapper">

        <!-- START HEADER-->
        <app-header></app-header>
        <!-- END HEADER-->

        <!--START SIDEBAR-->
        <app-sidebar></app-sidebar>
        <!--END SIDEBAR-->

        <!--START CONTENT WRAPPER-->
        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">Purchase Order</h1>
                <button  style="margin-left:92%;margin-top:1%;" type="button" class="btn btn-success" 
                value="Export To PDF" (click)="ConvertPDFWithWholepage()"><i class="fa fa-download" aria-hidden="true"></i>
                </button>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div id="contentToConvert" class="ibox-body" style="border:3px solid black">
                            <!--START FORM-->
                            
                            
                                <!--Order section-->
                                 <!--bussiness details-->
                                <div class="invoice-header">
                                    <div class="row">
                                        <div class="col-2" style="margin-bottom:3%;margin-left:2%">
                                            <div class="invoice-logo">
                                                
                                                <img src="assets/img/a1.png" style="width:100%;margin-left:-23%"/>
                                                <!-- <img src="{{'http://localhost:4000/'+logvalue}}" style="width:100%;margin-left:-23%" alt="img" > -->
                                                <!-- <img src="http://79.137.30.8:5000/uploads/1586528320045rak%20logo.png" style="width:100%;margin-left:-23%" alt="img" > -->
                                               
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div>
                                                <h3><div class="m-b-5 font-bold">RAK SOFTECH PRIVATE LTD</div></h3>
                                                <ul class="list-unstyled m-t-10">
                                                    <li class="font-bold">{{officevalue}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-4 text-right">
                                            <div>
                                                <h3><div class="m-b-4 font-bold">Purchase Order</div></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                 <!--invoice details-->
                                 <hr style="border:1px solid black">
                                 <div class="invoice-header">
                                    <div class="row">
                                        
                                        <div class="col-7">
                                            <h3> <div>
                                                <ul class="list-unstyled m-t-8">
                                                    <li><h5>{{registerationvalue}}</h5></li>
                                                </ul>
                                                <div class="m-b-5">PO:{{id}}</div>
                                            </div></h3>
                                        </div>
                                        <div class="col-5">
                                            <h3> <div>
                                                <ul class="list-unstyled m-t-8">
                                                    <li><h5></h5></li>
                                                </ul>
                                                <div class="m-b-5">Delivery Date : {{delivery_date}}</div>
                                            </div></h3>
                                        </div>
                                    </div>
                                </div>

                                <!--customer details-->
                                <hr style="border:1px solid black">
                                <!--2 block-->
                                <div class="invoice-header">
                                    <div class="row">
                                        <div class="col-8">
                                            <h3><div class="invoice-logo font-bold">
                                                Bill To : {{vendor_name}}
                                            </div></h3>
                                        </div>
                                       <div class="col-4">
                                            <h3><div class="invoice-logo font-bold">
                                                Shift To : {{vendor_name}}
                                            </div></h3>
                                        </div>
                                    </div>
                                </div>
                                <!--end customer details-->
                                <hr/>
                                <div class="row">
                                    <div class="col-lg-12">
                                    <!--START TABLE-->
                                    <!--start foorm-->
                            
                                <!--Order section-->
                                
                                <div style="border:1px solid black">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!--START TABLE-->
                                        <table class="col-lg-12">
                                            <thead>
                                                <tr>
                                                  <th>Material Name</th>
                                                  <th>Description</th>
                                                  <th>Quantity</th>
                                                  <th>Unit Rate</th>
                                                  <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let option of events">
                                                <tr>
                                                    <td>
                                                        <input type="text" class="form-control" value="{{option.material_name}}" readonly>
                                                    </td>
                                                    <td>
                                                       <input type="text" class="form-control" value="{{option.description}}" readonly>
                                                    </td>
                                                  <td>
                                                    <input type="text" class="form-control" value="{{option.quantity}}" readonly>
                                                </td>
                                                  <td>
                                                    <input type="text" class="form-control" value="{{option.unit_price}}" readonly>
                                                </td>
                                                  <td>
                                                    <input type="text" class="form-control" value="{{option.amount}}" readonly>
                                                </td>
                                                 
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>

                                    <div class="row" class="mt-4">
                                        <div class="col-lg-12">
                                            <!--start table-->
                                            <table class="table table-bordered">
                                                <tbody *ngFor="let value of recentvalue">
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>SUB-TOTAL</span></td>
                                                        <td colspan="2"><input type="text" value="{{value.sub_total}}" class="form-control mr-3" readonly></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>Discount</span></td>
                                                        <td colspan="2"><input type="text" value="{{value.discount}}" class="form-control mr-3" placeholder="0" readonly></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>Net Amount(INR)</span></td>
                                                        <td colspan="2"><input type="text" value="{{value.net_amt}}" class="form-control mr-3" readonly></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="text-right"><span>TAX SGST</span></td>
                                                        <td colspan="3"><input type="text" value="{{value.sgst_tax_per}}" class="form-control mr-3" placeholder="0" readonly></td>
                                                        <td colspan="2"><input type="text" class="form-control mr-3" value="{{value.sgst_tax_amt}}"  placeholder="0"  readonly>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="text-right"><span>TAX CGST</span></td>
                                                        <td colspan="3"><input type="text" value="{{value.cgst_tax_per}}" class="form-control mr-3" placeholder="0" readonly></td>
                                                        <td colspan="2"><input type="text" value="{{value.cgst_tax_amt}}" placeholder="0" class="form-control mr-3" readonly>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="text-right"><span>TAX IGST</span></td>
                                                        <td colspan="3"><input type="text" value="{{value.igst_tax_per}}" placeholder="0" class="form-control mr-3" readonly></td>
                                                        <td colspan="2"><input type="text"  value="{{value.igst_tax_amt}}"  placeholder="0" class="form-control mr-3" readonly></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>SHIPPING / FREIGHT</span></td>
                                                        <td colspan="2"><input type="text"  value="{{value.shipping_amt}}" placeholder="0" class="form-control mr-3" readonly>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>OTHER NON TAXABLE FARE</span></td>
                                                        <td colspan="2"><input type="text" value="{{value.other_amt}}" placeholder="0" class="form-control mr-3" readonly>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>GRAND TOTAL (INR)</span></td>
                                                        <td colspan="2"><input type="text"  value="{{value.grand_total}}"
                                                             class="form-control mr-3" placeholder="0" readonly="">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end table-->
                                        </div>
                                    </div>
                                </div>

                               
                            
                            <!--end foorm-->
                                    <!--END TABLE-->
                                    <br/><br/>
                                    <!--note-->
                                    <div class="invoice-header">
                                        <div class="row">
                                            <div class="col-12 text-left">
                                                <div>
                                                    <div class="m-b-12 font-bold">Notes:</div>{{notevalue}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--note-->
                                    <br/>
                                    <!--signature-->
                                    <div class="row col-lg-12" style="border:1px solid black;margin-left:0%">
                                        <div class="col-lg-6">
                                            <p></p>
                                            <br/><br/><br/><br/><br/><br/>
                                            <p style="text-align:center">Receiver's Signature</p>
                                        </div>
                                       
                                        <div class="col-lg-1" style="border-left:1px solid black"></div>
                                        <div class="col-lg-5">
                                            <p>For RAK Softech Pvt. Ltd.</p>
                                            <br/><br/><br/><br/><br/><br/>
                                            <p>Authorized Signatory</p>
                                        </div>
                                    </div>
                                    <div class="row col-lg-12" style="border:1px solid black;margin-left:0%">
                                        <div class="col-lg-12">
                                            <h4 style="text-align:center">THANK YOU FOR YOUR BUSINESS</h4>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            
                           
                            <!--END FORM-->
                        </div>
                    </div><button mat-raised-button color="warn" routerLink="/purchase-order-list">Cancel</button>
                </div>
            </div>
        </div>
        <!--END CONTENT WRAPPER-->
        
    </div>
     <!--END page wrapper--> 

    <!--SIDENAV-->
    <div class="sidenav-backdrop backdrop"></div>
</body>
</html>