<!--SHOW SPINNER-->
<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
        <app-header></app-header>
        <!-- END HEADER-->
         
        <!--START SIDEBAR-->
        <app-sidebar></app-sidebar>
        <!--END SIDEBAR-->

        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">Update Lead Details</h1>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">Lead Details</div>
                            <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a></div>
                        </div>
                        <div class="ibox-body">
                            <!--foorm-->
                            <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
                            <!--lead section-->
                            <h4>Lead Information</h4>
                            <div style="border-style: double;">
                                <div class="row">
                                <!--assign lead-->
                                <div class="col-sm-8 form-group" [ngClass]="{'has-error':registerform.get('assign_lead').errors &&
                                    (registerform.get('assign_lead').touched || registerform.get('assign_lead').dirty)}">
                                    <label>Assign Lead<span style="color:red">*</span></label>
                                    <!-- <input   class="form-control" type="text" readonly> -->
                                    <select class="form-control" formControlName="assign_lead">
                                        <option value="" disabled>--Select--</option>
                                        <option value="{{option.first_name}} {{option.last_name}}" *ngFor="let option of sales">
                                            {{option.first_name}} {{option.last_name}}
                                        </option>
                                    </select>
                                    <span class="help-block" *ngIf="registerform.get('assign_lead').errors &&
                                        (registerform.get('assign_lead').touched || registerform.get('assign_lead').dirty)">
                                        <span *ngIf="registerform.get('assign_lead').errors.required" class="text-danger">Assign Lead is required</span>
                                    </span>
                                </div>
                                </div>
                                <div class="row">
                                <!--first name-->
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('fname').errors &&
                                        (registerform.get('fname').touched || registerform.get('fname').dirty)}">
                                        <label>First Name<span style="color:red">*</span></label>
                                        <input formControlName="fname"  class="form-control" type="text" placeholder="John">
                                        <span class="help-block" *ngIf="registerform.get('fname').errors &&
                                            (registerform.get('fname').touched || registerform.get('fname').dirty)">
                                            <span *ngIf="registerform.get('fname').errors.required" class="text-danger">First Name is required</span>
                                            <span *ngIf="registerform.get('fname').errors.minlength || 
                                                registerform.get('fname').errors.pattern" class="text-danger">Please enter valid entry
                                            </span>
                                        </span>
                                    </div>
                                    <!--last name-->
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('lname').errors &&
                                        (registerform.get('lname').touched || registerform.get('lname').dirty)}">
                                        <label>Last Name<span style="color:red">*</span></label>
                                        <input  formControlName="lname" class="form-control" type="text" placeholder="Last Name">
                                        <span class="help-block" *ngIf="registerform.get('lname').errors &&
                                            (registerform.get('lname').touched || registerform.get('lname').dirty)">
                                            <span *ngIf="registerform.get('lname').errors.required" class="text-danger">Last Name is required</span>
                                            <span *ngIf="registerform.get('lname').errors.minlength || 
                                            registerform.get('lname').errors.pattern" class="text-danger">Please enter valid entry</span>
                                        </span>
                                    </div>
                                </div>
    
                                <div class="row">
                                <!--phone no.-->
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('phone_no').errors &&
                                        (registerform.get('phone_no').touched || registerform.get('phone_no').dirty)}">
                                        <label>Phone Number<span style="color:red">*</span></label>
                                        <input formControlName="phone_no"  class="form-control" type="text" placeholder="Phone Number">
                                        <span class="help-block" *ngIf="registerform.get('phone_no').errors &&
                                            (registerform.get('phone_no').touched || registerform.get('phone_no').dirty)">
                                            <span *ngIf="registerform.get('phone_no').errors.required" class="text-danger">Phone No. is required</span>
                                        </span>
                                        <span class="help-block" *ngIf="registerform.get('phone_no').errors &&
                                            (registerform.get('phone_no').touched || registerform.get('phone_no').dirty)">
                                            <span *ngIf="registerform.get('phone_no').errors.minlength || 
                                            registerform.get('phone_no').errors.pattern" class="text-danger">Phone No. should be 10 digit</span>
                                        </span>
                                    </div>
                                    <!--mobile no.-->
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('mobile_no').errors &&
                                        (registerform.get('mobile_no').touched || registerform.get('mobile_no').dirty)}">
                                        <label>Mobile Number<span style="color:red">*</span></label>
                                        <input formControlName="mobile_no" class="form-control" type="text" placeholder="Mobile Number">
                                        <span class="help-block" *ngIf="registerform.get('mobile_no').errors &&
                                            (registerform.get('mobile_no').touched || registerform.get('mobile_no').dirty)">
                                            <span *ngIf="registerform.get('mobile_no').errors.required" class="text-danger">Mobile No. is required</span>
                                        </span>
                                        <span class="help-block" *ngIf="registerform.get('mobile_no').errors &&
                                            (registerform.get('mobile_no').touched || registerform.get('mobile_no').dirty)">
                                            <span *ngIf="registerform.get('mobile_no').errors.minlength || 
                                            registerform.get('mobile_no').errors.pattern" class="text-danger">Mobile No. should be 10 digit</span>
                                        </span>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <!--company-->
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('company').errors &&
                                        (registerform.get('company').touched || registerform.get('company').dirty)}">
                                        <label>Company<span style="color:red">*</span></label>
                                        <input formControlName="company" class="form-control" type="text" placeholder="Company">
                                        <span class="help-block" *ngIf="registerform.get('company').errors &&
                                            (registerform.get('company').touched || registerform.get('company').dirty)">
                                            <span *ngIf="registerform.get('company').errors.required" class="text-danger">Company is required</span>
                                        </span>
                                    </div>
                                    <!--email id-->
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('email').errors &&
                                        (registerform.get('email').touched || registerform.get('email').dirty)}">
                                        <label>Email Id<span style="color:red">*</span></label>
                                        <input formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" type="email" placeholder="Email Id">
                                        <span class="help-block" *ngIf="registerform.get('email').errors &&
                                            (registerform.get('email').touched || registerform.get('email').dirty)">
                                            <span *ngIf="registerform.get('email').errors.required" class="text-danger">Email Id is required</span>
                                        </span>
                                        <span class="help-block" *ngIf="registerform.get('email').errors &&
                                            (registerform.get('email').touched || registerform.get('email').dirty)">
                                            <span *ngIf="registerform.get('email').errors.pattern" class="text-danger">Email should be valid</span>
                                        </span>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <!--website-->
                                    <div class="col-sm-6 form-group" >
                                        <label>Website</label>
                                        <input class="form-control" type="text"  formControlName="website" placeholder="Website">
                                    </div>
                                    <!--lead source-->
                                    <div class="col-sm-6 form-group">
                                        <label>Lead Source</label>
                                        <select class="form-control" formControlName="lead_source">
                                            <option value="">--Select Any--</option>
                                            <option value="Phone Enquiry">Phone Enquiry</option>
                                            <option value="Partner Referral">Partner Referral</option>
                                            <option value="Purchase List">Purchase List</option>
                                            <option value="Other">Other</option>
                                            <option value="Social Group">Social Group</option>
                                            <option value="Social Media">Social Media</option>
                                            <option value="Business Group">Business Group</option>
                                            <option value="Advertisement">Advertisement</option>
                                        </select>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <!--follow up-->
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('follow_up').errors &&
                                        (registerform.get('follow_up').touched || registerform.get('follow_up').dirty)}">
                                        <label>Follow Up<span style="color:red">*</span> </label>
                                        <select class="form-control" formControlName="follow_up">
                                            <option value="">--Select Any--</option>
                                            <option value="Sent quotation">Sent quotation </option>
                                            <option value="Follow up">Follow up</option>
                                            <option value="Negotiation">Negotiation</option>
                                            <option value="Final">Final</option>
                                            <option value="closure">closure</option>
                                            <option value="SOW Signing">SOW Signing</option>
                                        </select>
                                        <span class="help-block" *ngIf="registerform.get('follow_up').errors &&
                                            (registerform.get('follow_up').touched || registerform.get('follow_up').dirty)">
                                            <span *ngIf="registerform.get('follow_up').errors.required" class="text-danger">Follow Up is required</span>
                                        </span>
                                    </div>
                                    <!--lead status-->
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('lead_status').errors &&
                                        (registerform.get('lead_status').touched || registerform.get('lead_status').dirty)}">
                                        <label>Lead Status<span style="color:red">*</span> </label>
                                        <select class="form-control" formControlName="lead_status">
                                            <option value="">--Select Any--</option>
                                            <option value="Open-Not Contacted">Open-Not Contacted</option>
                                            <option value="Open-Contacted">Open-Contacted</option>
                                            <option value="Closed-Converted">Closed-Converted</option>
                                            <option value="Closed-Not Converted">Closed-Not Converted</option>
                                        </select>
                                        <span class="help-block" *ngIf="registerform.get('lead_status').errors &&
                                            (registerform.get('lead_status').touched || registerform.get('lead_status').dirty)">
                                            <span *ngIf="registerform.get('lead_status').errors.required" class="text-danger">Follow Up is required</span>
                                        </span>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <!--industry-->
                                    <div class="col-sm-6 form-group">
                                        <label>Industry </label>
                                        <select formControlName="industry" class="form-control" >
                                            <option value="">--Select Any--</option>
                                            <option value="Sent quotation">Sent quotation </option>
                                            <option value="Follow up">Follow up</option>
                                        </select>
                                    </div>
                                    <!--rating-->
                                    <div class="col-sm-6 form-group" >
                                        <label>Rating </label>
                                        <input formControlName="rating" class="form-control" type="text" placeholder="Rating">
                                    </div>
                                </div>
    
                                <div class="row">
                                    <!--annula revenue-->
                                    <div class="col-sm-6 form-group">
                                        <label>Annual Revenue  </label>
                                        <input formControlName="annual_revenue" class="form-control" type="text" placeholder="Annual Revenue">
                                    </div>
                                    <!--no of employee-->
                                    <div class="col-sm-6 form-group" >
                                        <label>No. Of Employee </label>
                                        <input formControlName="employee_no" class="form-control" type="text" placeholder="No. Of Employee">
                                    </div>
                                </div>
                            </div><br/>
                            <!--lead section-->
    
                            <!--Address section-->
                            <h4>Address Information</h4>
                            <div style="border-style: double;"> 
                            <div class="row">
                                <!--street-->
                                    <div class="col-sm-4 form-group">
                                        <label>Street</label>
                                        <input formControlName="street" class="form-control" type="text" placeholder="Street">
                                    </div>
                                <!--city-->
                                <div class="col-sm-4 form-group" >
                                    <label>City</label>
                                    <input formControlName="city" class="form-control" type="text" placeholder="City">
                                </div>
                                <!--state-->
                                <div class="col-sm-4 form-group" >
                                    <label>State/Province</label>
                                    <input formControlName="state"  class="form-control" type="text" placeholder="State/Province">
                                </div>
                            </div>
         
                            <div class="row">
                                <!--zip-->
                                <div class="col-sm-6 form-group" >
                                    <label>Zip/Postal Code</label>
                                    <input formControlName="zip" class="form-control" type="text" placeholder="Zip/Postal Code">
                                </div>
                                <!--country-->
                                <div class="col-sm-6 form-group" >
                                    <label>Country</label>
                                    <input formControlName="country" class="form-control" type="text" placeholder="Country">
                                </div>
                            </div>
                            </div> <br/>
                            <!--Address section-->
            
                            <!--Description section-->
                            <h4>Description Information </h4>
                            <div style="border-style: double;">
                                <div class="row">
                                    <!--description-->
                                    <div class="col-sm-6 form-group" >
                                        <label>Description</label>
                                        <input formControlName="description" class="form-control" type="text" placeholder="Description">
                                    </div>
                                    <!--redirect add customer-->
                                    <div class="col-sm-4 form-group" *ngIf="yes!=1">
                                        <label>Customer</label>
                                        <button  (click)="redirect_add_customer()" class="form-control btn btn-success" >Convert to customer</button>
                                    </div>
                                </div>
                            </div><br/>
                            <!--Description section-->
    
                            <!--funtionality button-->
                            <div class="form-group">
                                <button [disabled]="(!registerform.valid)"  mat-raised-button color="primary">Save</button>
                                 &nbsp;&nbsp;
                                <button mat-raised-button color="warn" routerLink="/list-lead-info">Cancel</button>
                            </div>
                            <!--funtionality button-->
                        </form>
                        <!--foorm-->
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidenav-backdrop backdrop"></div>
</body>
</html>