<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
    <!--start page wrapper-->
    <div class="page-wrapper">
        <!-- START HEADER-->
        <app-header></app-header>
        <!-- END HEADER-->

        <!-- START SIDEBAR-->
       <app-sidebar></app-sidebar>
        <!-- END SIDEBAR-->

        <div class="content" style="margin-top:12%">
            <!--start form-->
            <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
                <h2 class="login-title">Change Password</h2>
                <!--old password-->
                <div class="form-group">
                    <div class="input-group-icon right">
                        <div class="input-icon" [ngClass]="{'has-error':loginform.get('oldpassword').errors &&
                            (loginform.get('oldpassword').touched || loginform.get('oldpassword').dirty)
                            }"><i class="fa fa-envelope"></i>
                        </div>
                        <input class="form-control" formControlName="oldpassword"  type="password" name="oldpassword" placeholder="Old Password" autocomplete="off">
                    </div>
                        <span class="help-block" *ngIf="loginform.get('oldpassword').errors &&
                            (loginform.get('oldpassword').touched || loginform.get('oldpassword').dirty)">
                            <span *ngIf="loginform.get('oldpassword').errors.required" class="text-danger">This Field is required</span>
                        </span>
                </div>
                     
                <!--new password-->
                <div class="form-group">
                    <div class="input-group-icon right">
                        <div class="input-icon" [ngClass]="{'has-error':loginform.get('password').errors &&
                            (loginform.get('password').touched || loginform.get('password').dirty)
                            }"><i class="fa fa-lock font-16"></i>
                        </div>
                        <input class="form-control" formControlName="password"  type="password" name="password" placeholder="New Password" autocomplete="off">
                    </div>
                        <span class="help-block" *ngIf="loginform.get('password').errors &&
                        (loginform.get('password').touched || loginform.get('password').dirty)">
                            <span *ngIf="loginform.get('password').errors.required" class="text-danger">This Field is required</span>
                        </span>
                </div>
                            
                <!--Confirm Password-->
                <div class="form-group">
                    <div class="input-group-icon right" [ngClass]="{'has-error':loginform.get('confirmPass').errors &&
                        (loginform.get('confirmPass').touched || loginform.get('confirmPass').dirty)}">
                        <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                        <input class="form-control" formControlName="confirmPass" type="password" name="confirmPass" placeholder="Re-Enter Password">
                    </div>
                        <span class="help-block" *ngIf="loginform.get('confirmPass').errors &&
                        (loginform.get('confirmPass').touched || loginform.get('confirmPass').dirty)">
                          <span *ngIf="loginform.get('confirmPass').errors.required" class="text-danger">This Field is required</span>
                        </span> 
                        <span *ngIf="pNotMatched" class="text-danger">Password And Confirm Password Not Match</span>
                </div>
                
                <!--login button-->                   
                <div class="form-group">
                    <button  [disabled]="!loginform.valid || pNotMatched"  class="btn btn-info btn-block" type="submit">Login</button>
                </div>
            </form>
            <!--end form-->
        </div>
    </div>
    <!--end page wrapper-->
</body>
</html>