<!--show spinner-->
<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
    <!--start page wrapper--> 
    <div class="page-wrapper">

        <!-- START HEADER-->
        <app-header></app-header>
        <!-- END HEADER-->

        <!--START SIDEBAR-->
        <app-sidebar></app-sidebar>
        <!--END SIDEBAR-->

        <!--START CONTENT WRAPPER-->
        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">PURCHASE REQUEST FORM</h1>
                <button  style="margin-left:92%;margin-top:1%;" type="button" class="btn btn-success" 
                value="Export To PDF" (click)="ConvertPDFWithWholepage()"><i class="fa fa-download" aria-hidden="true"></i>
                </button>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div id="contentToConvert" class="ibox-body">
                            <!--START FORM-->
                            <form>
                                <!--Order section-->
                                 <!--bussiness details-->
                                <div class="invoice-header">
                                    <div class="row">
                                        <div class="col-2" style="margin-bottom:3%;margin-left:2%">
                                            <div class="invoice-logo">
                                                <img src="assets/img/a1.png" style="width:100%;margin-left:-23%"/>
                                                <!-- <img src="{{'http://localhost:4000/'+logvalue}}" style="width:100%;margin-left:-23%" alt="img" > -->
                                                <!-- <img src="{{'http://79.137.30.8:5000/'+logvalue}}" style="width:100%;margin-left:-23%" alt="img" > -->
                                                
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div>
                                                <h3><div class="m-b-5 font-bold">{{officename}}</div></h3>
                                                <ul class="list-unstyled m-t-10">
                                                    <li class="font-bold">{{officevalue}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-4 text-right">
                                            <div>
                                                <h3><div class="m-b-4 font-bold">PURCHASE REQUEST</div></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                 <!--invoice details-->
                                 <hr style="border:1px solid black">
                                 <div class="invoice-header">
                                    <div class="row">
                                        
                                        <div class="col-7">
                                             <div>
                                                <ul class="list-unstyled m-t-8">
                                                    <li><h4>Request Generated by : {{request_generated_by}}</h4></li>
                                                </ul>
                                                <div class="m-b-5"><h4>Request Raised by : {{request_generated}}</h4></div>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <h3> <div>
                                                <ul class="list-unstyled m-t-8">
                                                    <li><h5>PRF No : {{id}}</h5></li>
                                                </ul>
                                                <div class="m-b-5">Date:{{date}}</div>
                                            </div></h3>
                                        </div>
                                    </div>
                                </div>

                                <!--customer details-->
                                <hr style="border:1px solid black">
                                <!--2 block-->
                                <div class="invoice-header">
                                    <div class="row">
                                        <div class="col-6">
                                             <div class="invoice-logo font-bold">
                                                <h5></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end customer details-->
                                <hr/>
                                <div class="row">
                                    <div class="col-lg-12">
                                    <!--START TABLE-->
                                        
                                    <table class="col-lg-12">
                                        <thead>
                                            <tr>
                                              <th>Description</th>
                                              <th>Vendor Name</th>
                                              <th>Quantity</th>
                                              <th>Actual Rate</th>
                                              <th>GST</th>
                                              <th>Amount</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let value of recentvalue">
                                                <td>
                                                    <input class="form-control" value="{{value.purchase_description}}" readonly="">
                                                </td>
                                                <td>
                                                    <input class="form-control" value="{{value.vendor_name}}" readonly="">
                                                </td>
                                                <td>
                                                    <input class="form-control" value="{{value.quantity}}" readonly="">
                                                </td>
                                                <td>
                                                    <input class="form-control" value="{{value.unit_price}}" readonly="">
                                                </td>
                                                <td>
                                                    <input class="form-control" value="{{value.gst}}" readonly="">
                                                </td>
                                                <td>
                                                    <input class="form-control" value="{{value.amount}}" readonly="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Total</td>
                                                <td>{{total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <!--END TABLE-->
                                    <br/><br/>
                                    <!--note-->
                                    <div class="invoice-header">
                                        <div class="row">
                                            <div class="col-12 text-left">
                                                <div>
                                                    <div class="m-b-12 font-bold">Notes:</div>{{notevalue}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--note-->
                                    <br/>
                                    <!--signature-->
                                    <div class="row col-lg-12" style="border:1px solid black;margin-left:0%">
                                        <div class="col-lg-6">
                                            <p style="text-align:center">Requested Raised by :  {{request_generated}}</p>
                                        </div>
                                       
                                        <div class="col-lg-1" style="border-left:1px solid black"></div>
                                        <div class="col-lg-5">
                                            <p>Approved by :  {{request_approved}}</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>
                            <!--END FORM-->
                        </div>
                    </div><button mat-raised-button color="warn" routerLink="/purchase-request-list">Cancel</button>
                </div>
            </div>
        </div>
        <!--END CONTENT WRAPPER-->
        
    </div>
     <!--END page wrapper--> 

    <!--SIDENAV-->
    <div class="sidenav-backdrop backdrop"></div>
</body>
</html>