<!--SHOW SPINNER-->
<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
  
    <div class="page-wrapper">
        <!-- START HEADER-->
        <app-header></app-header>
        <!-- end HEADER-->

        <!-- START sidebar-->
        <app-sidebar></app-sidebar>
        <!-- end sidebar-->

        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">Update Milestone Details</h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <h4>Milestone Information </h4>
                            </div>
                            <div class="ibox-tools"> 
                            </div>
                        </div>
                        <div class="ibox-body">
                             <!--Order section-->
                             
                             <div class="row">
                                 <!---order type-->
                                 <div class="col-sm-4 form-group">
                                     <label>Order Type</label>
                                     <input type="text" value="{{this.order_type}}" readonly="" class="form-control">
                                 </div>
                             </div>
                            <!--table-->
                            <div class="page-content fade-in-up">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            <div class="ibox-body">
                                                <div class="mat-elevation-z8">
                                                    <mat-table [dataSource]="listData" matSort>
                                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                                                       <!--Milestone Name-->
                                                        <ng-container matColumnDef="Milestone Name">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Milestone Name</mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">
                                                                <input type="text" class="form-control" [(ngModel)]="element.milestone_name">
                                                            </mat-header-cell>
                                                        </ng-container>
                                                      <!--Description-->
                                                        <ng-container matColumnDef="Description">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">
                                                                <input type="text" class="form-control" [(ngModel)]="element.description">
                                                            </mat-header-cell>
                                                        </ng-container>
                                                        <!--Send Alert-->
                                                        <ng-container matColumnDef="Send Alert">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Send Alert</mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">
                                                                <input type='checkbox' style='height:15px; width:15px;' value="{{element.send_alert}}" (change)="oncheckbox($event)" [checked]="element.send_alert=='true'">
                                                                
                                                            </mat-header-cell>
                                                        </ng-container>
                                                        <!--action-->
                                                        <ng-container matColumnDef="Action">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">
                                                               <a (click)="[update(element.id,element.milestone_name,element.description,element.send_alert)]">
                                                                    <i class='fa fa-edit'
                                                                        style="font-size:24px" title="Edit"></i>
                                                                </a> 
                                                                <a (click)="delete_milestone(element.id)">
                                                                    <i class='fa fa-trash'
                                                                        style="font-size:24px" title="Delete"></i>
                                                                </a> 
                                                            </mat-header-cell>
                                                        </ng-container>
                                                    </mat-table>
                                                </div>
                                            </div>
                                        </div>
                                        <button mat-raised-button color="warn" routerLink="/milestone-list">Cancel</button>
                                    </div>
                                </div>
                            </div>
                               <!--table-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidenav-backdrop backdrop"></div>
                    
</body>
</html>