<!--SHOW SPINNER-->
<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
    <!--START PAGE WRAPPER-->
    <div class="page-wrapper">
        <!--START HEADER-->
        <app-header></app-header>
        <!--END HEADER-->
        
        <!--START SIDEBAR-->
        <app-sidebar></app-sidebar>
        <!--END SIDEBAR-->

        <!--START CONTENT WRAPPER-->
        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">Leave List</h1>
            </div>
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-body">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                <div style="overflow:auto;">
                                    <div class="mat-elevation-z8">
                                        <!--START TABLE-->
                                        <mat-table [dataSource]="listData" matSort>
                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                                        <!--EMPLOYEE CODE-->
                                        <ng-container matColumnDef="emp_code" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Emp_Code</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{element.emp_code}} 
                                            </mat-header-cell>
                                        </ng-container>
                                        <!--EMPLOYEE NAME-->
                                        <ng-container matColumnDef="first_name" >
                                           <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                           <mat-header-cell *matCellDef="let element">{{element.first_name}} {{element.last_name}}
                                           </mat-header-cell>
                                        </ng-container>
                                        <!--DESIGNATION-->
                                        <ng-container matColumnDef="desgn" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{element.desgn}} 
                                            </mat-header-cell>
                                        </ng-container>
                                        <!--SICK LEAVE TAKEN-->
                                        <ng-container matColumnDef="sl_taken" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>SL_Taken</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{element.sl_taken}} 
                                            </mat-header-cell>
                                        </ng-container>
                                        <!--CAUSAL LEAVE TAKEN-->
                                        <ng-container matColumnDef="cl_taken" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>CL_Taken</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{element.cl_taken}} 
                                            </mat-header-cell>
                                        </ng-container>
                                        <!--TOTAL TAKEN-->
                                        <ng-container matColumnDef="total-taken" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Total_Taken</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{(element.sl_taken*1 +element.cl_taken*1)}}
                                            </mat-header-cell>
                                        </ng-container>
                                        <!--SICK LEAVE BALANCE-->
                                        <ng-container matColumnDef="sl_balance" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>SL_balance</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{element.sl_balance}} 
                                            </mat-header-cell>
                                        </ng-container>
                                        <!--CAUSAL LEAVE BALANCE-->
                                        <ng-container matColumnDef="cl_balance" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>CL_balance</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{element.cl_balance}} 
                                            </mat-header-cell>
                                        </ng-container>
                                        <!--TOTAL BALANCE-->
                                        <ng-container matColumnDef="total-balance" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Total_balance</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{(element.sl_balance*1 +element.cl_balance*1)}}
                                            </mat-header-cell>
                                        </ng-container>
                                        </mat-table>
                                        <!--END TABLE-->
                                        <!--START PAGINATION-->
                                        <mat-paginator [length]="100"
                                        [pageSize]="10"
                                        [pageSizeOptions]="[10, 25, 100]">
                                        </mat-paginator>
                                        <!--END PAGINATION-->
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END CONTENT WRAPPER-->
    </div> 
    <!--END PAGE WRAPPER-->  

    <!--SIDEBNAV-->
    <div class="sidenav-backdrop backdrop"></div>
</body>
</html>