<!--show spinner-->
<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
    <!--start page wrapper-->
    <div class="page-wrapper">
        
        <!-- START HEADER-->
        <app-header></app-header>
        <!-- end HEADER-->

        <!--start sidebar-->
        <app-sidebar></app-sidebar>
        <!--end sidebar-->

        <!--start content wrapper-->
        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">Add Purchase Order Form</h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-body">
                            <!--start foorm-->
                            <form [formGroup]="purchaseOrderForm">
                                <!--Order section-->
                                <h4>Procurement Information</h4>
                                <div style="border-style: double;">
                                    <div class="row">
                                        <!---vendor name-->
                                        <div class="col-sm-6 form-group">
                                            <label>Vendor Name</label>
                                            <select formControlName="vendor_name" class="form-control">
                                                <option value="" disabled>--Select Any--</option>
                                                <option *ngFor="let option of vendor_name" value="{{option.vendor_name}}">{{option.vendor_name}}</option>
                                            </select>
                                        </div>
                                        <!---term of payment-->
                                        <div class="col-sm-6 form-group">
                                            <label>Term Of Payment </label>
                                            <select formControlName="term_of_payment" class="form-control">
                                                <option value="" disabled>--Select Any--</option>
                                                <option value="Cash">Cash</option>
                                                <option value="Cheque">Cheque</option>
                                                <option value="DD">DD</option>
                                                <option value="Bank Transfer">Bank Transfer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!---delivery date-->
                                        <div class="col-sm-6 form-group">
                                            <label>Delivery Date</label>
                                            <input class="form-control" formControlName="delivery_date" type="date" placeholder="01/01/1974">
                                        </div>
                                        <!---Amount-->
                                        <div class="col-sm-6 form-group">
                                            <label>Purchase Category</label>
                                            <select formControlName="purchase_category" class="form-control">
                                                <option value="" disabled>--Select Any--</option>
                                                <option value="Ca">Ca</option>
                                                <option value="Ch">Ch</option>
                                                <option value="DD">DD</option>
                                                <option value="Ba">Ba</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="mt-4"><u>Material Information</u></h4>
                                <div style="border-style: double;">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!--start table-->
                                            <mat-table [dataSource]="listData" formArrayName="material_info">
                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns:displayedColumns; let i=index"></mat-row>
                                                <!---name of material----->
                                                <ng-container matColumnDef="name-of-material">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Name of Material
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
                                                        <input placeholder="Material Name" formControlName="name_of_material" type="text" class="form-control mr-3">
                                                    </mat-cell>
                                                </ng-container>
                                                <!----description----->
                                                <ng-container matColumnDef="description">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Description
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
                                                        <input type="text" class="form-control mr-1" placeholder="Description"
                                                            formControlName="description">
                                                    </mat-cell>
                                                </ng-container>
                                                <!----quantity-->
                                                <ng-container matColumnDef="quantity">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Quantity
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
                                                        <input formControlName="quantity" type="number" class="form-control mr-3"
                                                            (keyup)="calculateAmount(i,$event.target.value)">
                                                    </mat-cell>
                                                </ng-container>
                                                <!----unit rate-->
                                                <ng-container matColumnDef="unit-rate">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Unit Rate
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
                                                        <input formControlName="unit_rate" type="number" class="form-control mr-3"
                                                            (keyup)="calculateAmount(i,$event.target.value)">
                                                    </mat-cell>
                                                </ng-container>
                                                <!----amount-->
                                                <ng-container matColumnDef="amount">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Amount
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
                                                        <input formControlName="amount" type="number" class="form-control mr-3" readonly>
                                                    </mat-cell>
                                                </ng-container>
                                                <!----add button-->
                                                <ng-container matColumnDef="action">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        <button mat-raised-button color="primary" aria-label="Action" (click)="addMaterialInfo()">
                                                            <i class="fa fa-plus" aria-hidden="true"></i> Add
                                                        </button>
                                                    </mat-header-cell>
                                                     <!----delete button-->
                                                    <mat-cell *matCellDef="let row, let i=index" fxFlex='25%'>
                                                        <button mat-icon-button aria-label="Action" color="warn"
                                                            (click)="removeMaterialInfo(i)">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>
                                            </mat-table>
                                            <!--end table-->
                                        </div>
                                    </div>

                                    <div class="row" class="mt-4">
                                        <div class="col-lg-12">
                                            <!--start table-->
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr class="hide-tr">
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>SUB-TOTAL</span></td>
                                                        <td colspan="2"><input type="text" [(ngModel)]="sub_total" formControlName="sub_total"  class="form-control mr-3" readonly></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>Discount</span></td>
                                                        <td colspan="2"><input type="text" formControlName="discount" (keyup)="calculate_discount($event.target.value)" class="form-control mr-3" placeholder="0"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>Net Amount(INR)</span></td>
                                                        <td colspan="2"><input type="text" [(ngModel)]="net_amount" formControlName="net_amount" class="form-control mr-3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="text-right"><span>TAX SGST</span></td>
                                                        <td colspan="3"><input type="text" [value]="0" (keyup)="calculate_sgst($event.target.value)" [(ngModel)]="sgst_tax_per" formControlName="sgst_tax_per" class="form-control mr-3"></td>
                                                        <td colspan="2"><input type="text" class="form-control mr-3"  placeholder="0" formControlName="sgst_tax_amt" readonly>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="text-right"><span>TAX CGST</span></td>
                                                        <td colspan="3"><input type="text" [(ngModel)]="cgst_tax_per" (keyup)="calculate_cgst($event.target.value)" formControlName="cgst_tax_per" class="form-control mr-3"></td>
                                                        <td colspan="2"><input type="text" formControlName="cgst_tax_amt" placeholder="0" class="form-control mr-3" readonly>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="text-right"><span>TAX IGST</span></td>
                                                        <td colspan="3"><input type="text" [(ngModel)]="igst_tax_per" (keyup)="calculate_igst($event.target.value)" formControlName="igst_tax_per" class="form-control mr-3"></td>
                                                        <td colspan="2"><input type="text" formControlName="igst_tax_amt"  placeholder="0" class="form-control mr-3" readonly></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>SHIPPING / FREIGHT</span></td>
                                                        <td colspan="2"><input type="text" formControlName="shipping_amt" (keyup)="calculate_shipping_amt($event.target.value)" placeholder="0" class="form-control mr-3">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>OTHER NON TAXABLE FARE</span></td>
                                                        <td colspan="2"><input type="text" formControlName="other_amt" (keyup)="calculate_other_amt($event.target.value)" placeholder="0" class="form-control mr-3">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="5" class="text-right"><span>GRAND TOTAL (INR)</span></td>
                                                        <td colspan="2"><input type="text"  formControlName="grand_total"
                                                             class="form-control mr-3" readonly="">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end table-->
                                        </div>
                                    </div>
                                </div>

                                <!--funtionality button-->
                                <div class="row" class="mt-4">
                                    <div class="form-group">
                                        <button mat-raised-button color="primary"
                                            [disabled]="(!purchaseOrderForm.valid)" (click)="onSubmit()">Save</button>
                                        &nbsp;&nbsp;
                                        <button mat-raised-button color="warn" routerLink="/purchase-order-list">Cancel</button>
                                    </div>
                                </div>
                                <!--funtionality button-->
                            </form>
                            <!--end foorm-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidenav-backdrop backdrop"></div>

</body>
</html>