<!--SHOW SPINNER-->
<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
  
    <div class="page-wrapper">

        <!-- START HEADER-->
        <app-header></app-header>
        <!-- end HEADER-->

        <!-- START sidebar-->
        <app-sidebar></app-sidebar>
        <!--end sidebar-->

        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">Add Order Form</h1>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-body">
                            <!--foorm-->
                              <form [formGroup]="registerform" (ngSubmit)="onsubmit()">
                                  <!--Order section-->
                                <h4>Order Information</h4>
                                <div style="border-style: double;">
                                    <div class="row">
                                        <!--customer name-->
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('order_name').errors &&
                                        (registerform.get('order_name').touched || registerform.get('order_name').dirty)}">
                                            <label>Customer Name<span style="color:red">*</span></label>
                                            <select formControlName="order_name" class="form-control" (change)="getcustomer_address($event.target.value)">
                                                <option value="" disabled>--Select Any--</option>
                                                <option *ngFor="let value of recentvalue" value="{{value.first_name}}">{{value.first_name}}</option>
                                            </select>
                                            <span class="help-block" *ngIf="registerform.get('order_name').errors &&
                                            (registerform.get('order_name').touched || registerform.get('order_name').dirty)">
                                              <span *ngIf="registerform.get('order_name').errors.required" class="text-danger">Order Name is required</span>
                                            </span>
                                        </div>
                                        <!--order number-->
                                        <div class="col-sm-6 form-group">
                                            <label>Customer Reference Order</label>
                                            <input formControlName="order_number" class="form-control" type="text" placeholder="Order Number">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!--order type-->
                                        <div class="col-sm-6 form-group">
                                            <label>Order Type</label>
                                            <select formControlName="order_type" class="form-control" (change)="getmilestone($event.target.value)">
                                                <option value="" disabled>--Select Any--</option>
                                                <option value="Sales Order">Sales Order</option>
                                                <option value="Project">Project</option>
                                                <option value="Work Order">Work Order</option>
                                                <option value="Service Order">Staffing Order</option>
                                            </select>
                                        </div>
                                        <!--amount-->
                                        <div class="col-sm-6 form-group">
                                            <label>Amount</label>
                                            <input formControlName="amount" class="form-control" type="text" placeholder="Amount">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!--close date-->
                                        <div class="col-sm-6 form-group">
                                            <label>Close Date</label>
                                            <input formControlName="close_date"  class="form-control" type="date" placeholder="Close Date">
                                       </div>
                                       <!--current stage-->
                                        <div class="col-sm-6 form-group">
                                            <label>Milestone Stage</label>
                                            <select formControlName="current_stage" class="form-control">
                                                <option value="" disabled>--Select Milestone Stage--</option>
                                                <option *ngFor="let mile_value of milestonevalue"  value="{{mile_value.milestone_name}}">{{mile_value.milestone_name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!--milestone date-->
                                        <div class="col-sm-6 form-group">
                                            <label>Milestone Date </label>
                                            <input formControlName="milestone_date"  class="form-control" type="date" placeholder="Milestone Date">
                                       </div>
                                       <!--generate invoice-->
                                        <div class="col-sm-4 form-group">
                                            <label>Generate Invoice</label>
                                            <button mat-raised-button color="primary" [disabled]="(inactive==1)" class="form-control" routerLink="/add-order-invoice">Click</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!--lead source-->
                                        <div class="col-sm-6 form-group">
                                            <label>Lead Source</label>
                                            <select formControlName="lead_source" class="form-control">
                                                <option value="" disabled>--Select Any--</option>
                                                <option value="Phone Enquiry">Phone Enquiry</option>
                                                <option value="Partner Referral">Partner Referral</option>
                                                <option value="Purchase List">Purchase List</option>
                                                <option value="Other">Other</option>
                                                <option value="Manual">Manual</option>
                                                <option value="Social Media">Social Media</option>
                                                <option value="Social Group">Social Group</option>
                                                <option value="Business Group">Business Group</option>
                                                <option value="Avertisement">Avertisement</option>
                                            </select>
                                        </div>
                                        <!--insallation status-->
                                        <div class="col-sm-6 form-group">
                                            <label>Delivery/Installation Status</label>
                                            <select formControlName="delivery_stage" class="form-control">
                                                <option value="" disabled>--Select Any--</option>
                                                <option value="Yet to Begin">Yet to Begin</option>
                                                <option value="In Progress">In Progress</option>
                                                <option value="Closed">Closed</option>
                                            </select>
                                        </div>
                                    </div>
                                </div><br/>
                                <!--Order section-->

                                <h4>Description Information</h4>
                                <div style="border-style: double;">
                                    <div class="row">
                                        <!--description-->
                                        <div class="col-sm-6 form-group">
                                            <label>Description</label>
                                            <input formControlName="description"  class="form-control" type="text" placeholder="Description">
                                        </div>
                                    </div>
                                </div><br/>

                                <!--funtionality button-->
                                <div class="form-group">
                                    <button [disabled]="(!registerform.valid)" mat-raised-button color="primary">Save</button>
                                     &nbsp;&nbsp;
                                     <a href="#" routerLink="/list-order"  class="btn btn-danger">Cancel</a>
                                </div>
                                <!--funtionality button-->
                              </form>
                               <!--foorm-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidenav-backdrop backdrop"></div>
</body>
</html>