<% include ../Partials/HeaderRoot  %>

 <div class="wrapper-page">

            <div class="card">
                <div class="card-body">
                    
                    <h3 class="text-center m-0">
                        <a href="/" class="logo logo-admin"><img src="public/assets/images/logo.png" height="30" alt="logo"></a>
                    </h3>

                    <div class="p-3">
                        <h4 class="text-muted font-18 mb-3 text-center">Forgot Password</h4>
                        <% if(status !=''){ %> 
                            <div class="alert alert-<%= status %>  alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                  <%= message %>
                            </div> 
                        <% }else{ %>
                            <div class="alert alert-info" role="alert">
                                Enter your Email and instructions will be sent to you!
                            </div>
                        <% } %>


                        <form class="form-horizontal m-t-30" method="post" id="forgot_password" action="<%= process.env.AAP_URL %>forgot-password">
                            <div class="form-group">
                                <label for="useremail">Email</label>
                                <input type="email" class="form-control" id="useremail" parsley-type="email" name="email" placeholder="Enter email" required>
                            </div>

                            <div class="form-group row m-t-20">
                                <div class="col-12 text-right">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="m-t-40 text-center">
                <p>Remember It ? <a href="<%= process.env.AAP_URL %>login" class="text-primary"> Sign In Here </a> </p>
            </div>
        </div>

<% include ../Partials/FooterRoot  %>

