<!--SHOW SPINNER-->
<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">
<body class="fixed-navbar">
  
    <div class="page-wrapper">
        <!-- START HEADER-->
        <app-header></app-header>
        <!-- end HEADER-->

        <!-- START sidebar-->
        <app-sidebar></app-sidebar>
        <!-- end sidebar-->

        <div class="content-wrapper">
            <div class="page-heading">
                <h1 class="page-title">Terms & Condition</h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                
                            </div>
                            <div class="ibox-tools"> <a  href="#" class="btn btn-primary" style="color:white" routerLink="/add-term-condition">
                                <i class="fa fa-plus" aria-hidden="true"></i>Term & Condition</a>
                            </div>
                        </div>
                        <div class="ibox-body">
                            <input  matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                            <!--table-->
                            <div class="page-content fade-in-up">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            <div class="ibox-body">
                                                <div class="mat-elevation-z8">
                                                    <mat-table [dataSource]="listData" matSort>
                                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                                                        <!--lead id-->
                                                        <ng-container matColumnDef="id">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Sr no</mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">1
                                                            </mat-header-cell>
                                                        </ng-container>
                                                         <!--first name-->
                                                        <ng-container matColumnDef="terms">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Terms & Condition</mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">
                                                                <input type="text" matInput [(ngModel)]="element.term" [disabled]="!element.isEditable"/>
                                                            </mat-header-cell>
                                                        </ng-container>
                                                      
                                                        <!--action-->
                                                        <ng-container matColumnDef="action">
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">
                                                                <button (click)="[element.isEditable=!element.isEditable,edit(element.action)]" *ngIf="!element.isEditable" class="btn btn-success btn-xs m-r-5"  data-toggle="tooltip" >
                                                                    <i class="fa fa-edit font-14"></i></button>
                                                                <button *ngIf="element.isEditable" [disabled]="(element.term=='')" (click)="[element.isEditable=!element.isEditable,update(element.id,
                                                                    element.term)]"
                                                                    class="btn btn-success btn-xs m-r-5" data-toggle="tooltip" ><i class="fa fa-save font-14"></i>
                                                                </button>
                                                                <button (click)="delete_term(element.id)" class="btn btn-danger btn-xs" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash font-14"></i>
                                                                </button>
                                                            </mat-header-cell>
                                                        </ng-container>
                                                    </mat-table>

                                                    <mat-paginator [length]="100"
                                                        [pageSize]="5"
                                                        [pageSizeOptions]="[5, 10, 25, 100]">
                                                    </mat-paginator>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <!--table-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidenav-backdrop backdrop"></div>
                    
</body>
</html>